# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
*.env
!.env.example

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# OS
.DS_Store
Thumbs.db
