Django
djangorestframework
drf-spectacular
djangorestframework-simplejwt
django-cors-headers
django-filter
Pillow
python-decouple
psycopg2-binary
celery==5.6.1
redis
django-redis
PyMuPDF
paddleocr[all]
paddlex[ocr]
gunicorn
